# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform variable files containing secrets
*.auto.tfvars

# VS Code
.vscode/

# macOS
.DS_Store